# Selenium-Assignment2

#Question1- Q1:
Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.

In [129]:
#Answer1)

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [133]:
driver.get("https://www.naukri.com/")

In [134]:
Designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
Designation.send_keys('Data Analyst')

In [135]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
Location.send_keys('Bangalore')

In [136]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [137]:
job_title=[] 
job_location=[]
company_name=[]
experience_required=[]

In [138]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    name=i.text
    company_name.append(name)
    

exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [139]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [140]:
df=pd.DataFrame({'Job_title':job_title,'location':job_location,'Name':company_name,'Experience':experience_required})
df

,Job_title,location,Name,Experience
0,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness,0-2 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
3,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
4,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
5,Data Analyst,"Bangalore/Bengaluru, Ahmedabad",milestone internet marketing pvt ltd,2-7 Yrs
6,Forecasting Analyst/ Data Scientist (US Client),"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du...",Concentrix,3-8 Yrs
7,Job opportunity Switzerland based MNC / JR. Da...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-2 Yrs
8,Job opportunity Switzerland based MNC / JR. Da...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-2 Yrs
9,Senior Analyst/Data Scientist,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",JoulestoWatts,6-9 Yrs

Question2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [141]:
#Answer
driver.get("https://www.naukri.com/")

In [142]:
Designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
Designation.send_keys('Data Scientist')

In [143]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
Location.send_keys('Bangalore')

In [144]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [145]:
job_title=[] 
job_location=[]
company_name=[]
experience_required=[]

In [146]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    name=i.text
    company_name.append(name)
    

exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [147]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [148]:
df=pd.DataFrame({'Job_title':job_title,'location':job_location,'Name':company_name,'Experience':experience_required})
df

,Job_title,location,Name,Experience
0,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,5-12 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs
3,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro,5-10 Yrs
4,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited,4-9 Yrs
5,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS),3-8 Yrs
6,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro,11-20 Yrs
7,Data Scientist Python,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Conduent,3-7 Yrs
8,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
9,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates,5-8 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [149]:
#Answer

driver.get("https://www.naukri.com/")

In [150]:
Designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
Designation.send_keys('Data Scientist')

In [151]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
Location.send_keys('Delhi/NCR')

In [152]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [153]:
job_title=[] 
job_location=[]
company_name=[]
experience_required=[]
Salary=[]

In [154]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    name=i.text
    company_name.append(name)
    

exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    exp=i.text
    experience_required.append(exp)
    
    
salary_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]')
for i in salary_tags[0:10]:
    salary=i.text
    Salary.append(salary)

In [155]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),len(Salary))

10 10 10 10 10

In [156]:
df=pd.DataFrame({'Job_title':job_title,'location':job_location,'Name':company_name,'Experience':experience_required,"SALARY":Salary})
df

,Job_title,location,Name,Experience,SALARY
0,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs,Not disclosed
1,Data scientist _Tata Consultancy Services(Tcs),"Delhi / NCR, Kochi/Cochin, Indore, New Delhi, ...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs,Not disclosed
2,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs,Not disclosed
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited,4-9 Yrs,"18,00,000 - 20,00,000 PA."
4,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro,11-20 Yrs,Not disclosed
5,Data Scientist,"Delhi / NCR, New Delhi, Pune, Gurgaon/Gurugram...",ZS Associates,5-8 Yrs,Not disclosed
6,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Concentrix,3-8 Yrs,Not disclosed
7,Opening_ Data Scientist_ Pelatro Solutions,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Pelatro Solutions,8-12 Yrs,Not disclosed
8,Affine- Hiring For Data Science - Work from Home,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Affine,4-7 Yrs,Not disclosed
9,Data Scientist,"Kolkata, Mumbai, Nagpur, Hyderabad/Secunderaba...",TRH Consultancy Services,5-10 Yrs,Not disclosed

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [178]:
#Answer

driver.get("https://www.flipkart.com/")

In [179]:
Product_name= driver.find_element(By.CLASS_NAME,"_3704LK")
Product_name.send_keys('Sun glasses')

In [180]:
Search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
Search.click()

In [181]:
Brand=[] 
product_description=[]
Price=[]
Discount=[]

In [182]:
start=0
end=3

for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand=i.text
        Brand.append(brand)
    


    pdescription_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pdescription_tags:
        product=i.text
        product_description.append(product)
    
    
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price=i.text
        Price.append(price)
   

    discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount_tags:
        discount=i.text
        Discount.append(discount)
    
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [183]:
print(len(Brand),len(product_description),len(Price),len(Discount))

120 120 120 120

In [184]:
df=pd.DataFrame({'Brand name':Brand,"Product details":product_description,'Price':Price,'Discount':Discount})
df

,Brand name,Product details,Price,Discount
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
2,PIRASO,UV Protection Rectangular Sunglasses (52),₹252,90% off
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
4,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
...,...,...,...,...
115,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹899,10% off
116,Fastrack,UV Protection Aviator Sunglasses (57),₹639,20% off
117,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹369,81% off
118,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹639,20% off
119,Fastrack,Gradient Round Sunglasses (Free Size),"₹1,599",20% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [270]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [271]:
driver.get("https://www.flipkart.com/")

In [272]:
Product_name= driver.find_element(By.CLASS_NAME,"_3704LK")
Product_name.send_keys('iphone 11')

In [273]:
Search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
Search.click()

In [274]:
click_first_phone =driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]")
click_first_phone.click()

In [275]:
Rating=[] 
review_summary=[]
Review=[]

In [276]:
start=0
end=10

for page in range(start,end):
    
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        rating=i.text
        Rating.append(rating)
    


    summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary:
        summary=i.text
        review_summary.append(summary)
    
    
    review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review:
        review=i.text
        Review.append(review)
   
    
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click()
    time.sleep(5)

In [277]:
print(len(Rating),len(review_summary),len(Review))

0 0 0

In [278]:
df=pd.DataFrame({'Rating':Rating,"review_summary":review_summary,'Review':Review,})
df

Empty DataFrame
Columns: [Rating, review_summary, Review]
Index: []

Q6-Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [279]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [280]:
driver.maximize_window()

In [281]:
driver.get('https://www.flipkart.com/')
time.sleep(2)

In [283]:
search_item = driver.find_element(By.CLASS_NAME,"_3704LK")
search_item.send_keys("sneakers")
time.sleep(3)

In [284]:
click_search_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
click_search_button.click()
time.sleep(3)

In [287]:
Brand = []
Product_Description = []
Price = []

for i in range(3):
    
    
    brand = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand:
        Brand.append(i.text)
    
    product_des = driver.find_elements(By.XPATH,"//div[@class='_2B099V']/a[1]")
    for i in product_des:
        Product_Description.append(i.text)
        
    price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price :
        Price.append(i.text)
    
time.sleep(3)

next_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
next_button.click()

In [286]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [288]:
df = pd.DataFrame({'Brand':Brand,'Product_Description':Product_Description,'Price':Price})

df[0:100]

        Brand                                Product_Description   Price
0    RapidBox                                   Sneakers For Men    ₹640
1        aadi  Mesh | Ultralightweight | Comfortable | Breath...    ₹374
2        PUMA             Puma Smash Wns v2 L Sneakers For Women  ₹1,542
3        PUMA                             Glory Sneakers For Men  ₹1,747
4      Chevit  Super Stylish & Trendy Combo Pack of 02 Pairs ...    ₹544
..        ...                                                ...     ...
95      AMICO                                   Sneakers For Men    ₹466
96     Layasa                                   Sneakers For Men    ₹439
97     Kzaara                                   Sneakers For Men    ₹259
98   RED TAPE                                   Sneakers For Men  ₹1,619
99  SCATCHITE                          Sneakers Sneakers For Men    ₹404

[100 rows x 3 columns]

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

In [32]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [33]:
driver.get('https://www.myntra.com/shoes')

In [34]:
color_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

In [36]:
price_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

In [24]:
Brand = []
Shoes_description = []
Price = []

In [25]:


for i in range(2):
    
    brand = driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    for i in brand : 
        Brand.append(i.text)
    
    shoes_description = driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    for i in shoes_description: 
        Shoes_description.append(i.text)
        
        
    price = driver.find_elements(By.XPATH,"//div[@class='product-price']/span[1]")
    for i in price : 
        Price.append(i.text)

time.sleep(3)

In [26]:
next_page = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
next_page.click()

In [48]:
print(len(Brand),len(Shoes_description),len(Price))

100 100 4

In [28]:
df = pd.DataFrame({'Brand':Brand,'Shoes_description':Shoes_description,'Price':Price})
df

               Brand               Shoes_description               Price
0               Nike  Men ZOOM WINFLO8 Running Shoes    Rs. 7465Rs. 8295
1               Nike    Men React Infinity 3 Running  Rs. 11895Rs. 13995
2             ADIDAS    Men Solar Glide 4 ST Running  Rs. 11999Rs. 14999
3           Skechers      Men Max Cushioning Running    Rs. 7199Rs. 8999
4           Skechers      Men Max Cushioning Running    Rs. 7199Rs. 8999
..               ...                             ...                 ...
95              Puma     Men KING Top Football Shoes   Rs. 7199Rs. 11999
96  ADIDAS Originals       Men Woven NMD_31 Sneakers  Rs. 11899Rs. 13999
97            ADIDAS      Men Dropset Training Shoes           Rs. 12999
98            Clarks            Men Leather Slip-Ons            Rs. 9999
99    Tommy Hilfiger                    Men Sneakers    Rs. 6799Rs. 7999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7”

In [19]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [20]:
driver.get('https://www.amazon.in/')

In [21]:
search_item = driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")
search_item.send_keys("laptop")

In [24]:
click_search_button = driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
click_search_button.click()
time.sleep(3)

In [27]:
intel_core7 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/span')
intel_core7.click()

In [28]:
Title = []
Ratings = []
Price = []

title_tags = driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in title_tags[0:10]:
    Title.append(i.text)
    
    
rating_tags= driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_tags[0:10]:
    Ratings.append(i.text)
    
price_tags = driver.find_elements(By.XPATH,'//span[@class="a-offscreen"]')
for i in price_tags[0:10]:
    Price.append(i.text)

In [29]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [30]:
df = pd.DataFrame({'Title':Title,'Ratings':Ratings,'Price':Price})
df

                                               Title Ratings Price
0  Samsung Galaxy Book2 Intel 12th Gen core i7 39...
1  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...
2  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...
3  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...
4  ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...
5  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...
6  ASUS TUF Gaming F17 (2022), 17.3-inch (43.94 c...
7  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...
8  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...
9  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:

In [82]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [83]:
driver.get('https://www.ambitionbox.com/')

In [85]:
jobs = driver.find_element(By.XPATH,'//a[@class="navItemLink"]')
jobs.click()

In [86]:
designation = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
designation.send_keys("Data Scientist")

In [87]:
search = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search.click()

In [89]:
location = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
location.click()

In [90]:
enter_location = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
enter_location.send_keys("Noida")

In [93]:
city = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
city.click()

In [95]:
Company_name = []
Company_rating = []
No_days_of_job_posted = []

company = driver.find_elements(By.XPATH,"//p[@class='company body-medium']")
for i in company[0:10] : 
    Company_name.append(i.text)
    
rating = driver.find_elements(By.XPATH,"//span[@class='body-small']")
for i in rating [0:10]: 
    Company_rating.append(i.text)

day_of_job_posted = driver.find_elements(By.XPATH,"//span[@class='body-small-l']")
for i in day_of_job_posted[0:10] : 
    No_days_of_job_posted.append(i.text)

In [96]:
print(len(Company_name),len(Company_rating),len(No_days_of_job_posted))

10 10 10

In [98]:
data = pd.DataFrame({'Company Name':Company_name,'Company Rating':Company_rating,'No days of job posted':No_days_of_job_posted})

data

,Company Name,Company Rating,No days of job posted
0,CBRE South Asia Pvt Ltd,4.3,8d ago
1,GENPACT India Private Limited,4.0,via naukri.com
2,Genpact,4.0,23hr ago
3,Ericsson India Global Services Pvt. Ltd.,4.3,via naukri.com
4,GENPACT India Private Limited,4.0,3d ago
5,Optum Global Solutions (India) Private Limited,4.1,via iimjobs.com
6,Optum Global Solutions (India) Private Limited,4.1,18d ago
7,Ericsson India Global Services Pvt. Ltd.,4.3,via naukri.com
8,SOPRA STERIA INDIA LIMITED,4.2,11d ago
9,EXL Services.com ( I ) Pvt. Ltd.,3.9,via naukri.com

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [55]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [66]:
driver.get('https://www.ambitionbox.com/')

In [67]:
click_on_salaries = driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/a')
click_on_salaries.click()

In [68]:
browse_salaries=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/a')
browse_salaries.click()

In [69]:
search_item = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input')
search_item.send_keys("Data Scientist")

In [70]:
search_button = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div/div/button')
search_button.click()

In [80]:
Company_name = []
Salary_records = []
Average_Salary = []
Minimum_Salary = []
Maximum_Salary = []

company_tags = driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in company_tags[0:10] : 
    Company_name.append(i.text)

In [81]:
salary_tags = driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in salary_tags[0:10]: 
    Salary_records.append(i.text)

In [82]:
avg_salary_tags = driver.find_elements(By.XPATH,'//div[@class="average-indicator-wrapper"]')
for i in avg_salary_tags[0:10] : 
    Average_Salary.append(i.text)

In [83]:
min_salary_tags = driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in min_salary_tags[0:10] : 
    Minimum_Salary.append(i.text)

In [84]:
max_salary_tags = driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in max_salary_tags[0:10] : 
    Maximum_Salary.append(i.text)

In [85]:
print(len(Company_name),len(Salary_records),len(Average_Salary),len(Minimum_Salary),len(Maximum_Salary))

0 0 0 0 0

In [86]:
df = pd.DataFrame({'Company name':Company_name,'Total Salary':Salary_records,'Average Salary':Average_Salary,'Minimum Salary':Minimum_Salary,'Maximum Salary':Maximum_Salary})
df

Empty DataFrame
Columns: [Company name, Total Salary, Average Salary, Minimum Salary, Maximum Salary]
Index: []