In [2]:
!pip install selenium
!pip install requests

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: async-generator>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (2.0.4)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

1.Scrape the details of most viewed videos on YouTube from Wikipedia:

Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [2]:
#calling the webdriver
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [3]:
#calling the site where we have to scrape the data
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
#Creating the empty lists to store the scraped data
Rank=[]
Name=[]
Artist=[]
Views=[]
Upload_Date=[]

#As we need only the first 30 details, we will iterate only for first 30 data
#Rank
rank=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in rank[:30]:
    Rank.append(i.text)
    
#video name
video=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in video[:30]:
    Name.append(i.text)
    
#Artist name
artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in artist[:30]:
    Artist.append(i.text)
    
#information
views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in views[:30]:
    Views.append(i.text)
    
#upload date
date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in date[:30]:
    Upload_Date.append(i.text)

In [6]:
Yt_data=pd.DataFrame({})
Yt_data['Rank']=Rank
Yt_data['Video Name']=Name
Yt_data['Artist']=Artist
Yt_data['Views(Billions)']=Views
Yt_data['Upload Date']=Upload_Date
Yt_data

,Rank,Video Name,Artist,Views(Billions),Upload Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.30,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.97,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.45,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.80,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.63,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.60,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.87,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.68,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.61,"February 27, 2018"
9,10.,"""Gangnam Style""[24]",Psy,4.54,"July 15, 2012"
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,4.51,"January 31, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.34,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,4.06,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.75,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.65,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.64,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.58,"October 22, 2015"
17,18.,"""Axel F""[36]",Crazy Frog,3.50,"June 16, 2009"
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,3.49,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,3.36,"June 25, 2018"
20,21.,"""Dark Horse""[39]",Katy Perry,3.34,"February 20, 2014"
21,22.,"""Faded""[40]",Alan Walker,3.34,"December 3, 2015"
22,23.,"""Girls Like You""[41]",Maroon 5,3.33,"May 31, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.29,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.26,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.26,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.25,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.24,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.20,"August 18, 2014"
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.15,"January 26, 2018"

2.Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [4]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [5]:
driver.get('https://www.bcci.tv/')

In [6]:
international=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
international.click()

In [22]:
#Creating empty lists for storing the scrapped data
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Scrapping the data having the match name
name=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in name:
    Match.append(i.text)

# the series name
series=driver.find_elements(By.XPATH,"//div[@class='fixture-card-mid d-flex align-items-center justify-content-between']")
for i in series:
    Series.append(i.text)
    
#the place of match
place=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in place:
    Place.append(i.text)
    
#the match date
date=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')  #Only date
for i in date:
    Date.append(i.text)  #Appending date and month texts together
    
#match time
time=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time:
    Time.append(i.text)

In [23]:
#make sure the lenth of the data will be same
print(len(Match),len(Series),len(Place),len(Date),len(Time))

8 8 8 8 8

In [24]:
bcci=pd.DataFrame({})
bcci['Match name']=Match
bcci['Series']=Series
bcci['Place']=Place
bcci['Date']=Date
bcci['Time']=Time
bcci

,Match name,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,England Women\nvs\nIndia Women,"3rd T20I - County Ground, Bristol",15 SEP 2022,11:00 PM IST
1,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,England Women\nvs\nIndia Women,"1st ODI - County Ground, Hove",18 SEP 2022,3:30 PM IST
2,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,India\nvs\nAustralia,1st T20I - Punjab Cricket Association IS Bindr...,20 SEP 2022,7:30 PM IST
3,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,England Women\nvs\nIndia Women,"2nd ODI - St Lawrence Ground, Canterbury",21 SEP 2022,5:30 PM IST
4,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,India\nvs\nAustralia,2nd T20I - Vidarbha Cricket Association Stadiu...,23 SEP 2022,7:30 PM IST
5,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,England Women\nvs\nIndia Women,"3rd ODI - Lord's Cricket Ground, London",24 SEP 2022,3:30 PM IST
6,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,India\nvs\nAustralia,"3rd T20I - Rajiv Gandhi International Stadium,...",25 SEP 2022,7:30 PM IST
7,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,India\nvs\nSouth Africa,"1st T20I - Greenfield International Stadium, T...",28 SEP 2022,7:30 PM IST

In [26]:
driver.close()

3.Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [145]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [146]:
driver.get('https://www.guru99.com/')

In [147]:
#Clicking on the selenium tutorial page 
driver.find_element(By.XPATH,"//div[@class='srch']/span[8]/a").click()

#Clicking on the selenium exception tutorial page
driver.find_element(By.XPATH,"//table[@class='table']/tbody/tr[34]/td/a").click()

In [184]:
#Creating the empty lists to store the scraped data
Name=[]
Description=[]

#Scrapping the data having exception names
name=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p/strong')
for i in name:
    Name.append(i.text)
    
#Scrapping the data having the description details  
desc=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')
for i in desc:
        Description.append(i.text)

In [185]:
#Checking the length of the data scrapped
print(len(Name),len(Description))

47 53

In [181]:
guru99=pd.DataFrame({})
guru99['Exception Name']=Name[:47]
guru99['Description']=Description[:47]
guru99

,Exception Name,Description
0,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...
1,2. ElementNotSelectableException:,2. ElementNotSelectableException: This Seleniu...
2,3. NoSuchElementException:,3. NoSuchElementException: This Exception occu...
3,4. NoSuchFrameException:,4. NoSuchFrameException: This Exception occurs...
4,5. NoAlertPresentException:,5. NoAlertPresentException: This Exception occ...
5,6. NoSuchWindowException:,6. NoSuchWindowException: This Exception occur...
6,7. StaleElementReferenceException:,7. StaleElementReferenceException: This Seleni...
7,8. SessionNotFoundException:,8. SessionNotFoundException: The WebDriver is ...
8,9. TimeoutException:,9. TimeoutException: Thrown when there is not ...
9,10. WebDriverException:,10. WebDriverException: This Exception takes p...
10,11. ConnectionClosedException:,11. ConnectionClosedException: This type of Ex...
11,12. ElementClickInterceptedException:,12. ElementClickInterceptedException: The comm...
12,13. ElementNotInteractableException:,13. ElementNotInteractableException: This Sele...
13,14. ErrorInResponseException:,14. ErrorInResponseException: This happens whi...
14,15. ErrorHandler.UnknownServerException:,15. ErrorHandler.UnknownServerException: Excep...
15,16. ImeActivationFailedException:,16. ImeActivationFailedException: This expecta...
16,17. ImeNotAvailableException:,17. ImeNotAvailableException: It takes place w...
17,18. InsecureCertificateException:,18. InsecureCertificateException: Navigation m...
18,19. InvalidArgumentException:,19. InvalidArgumentException: It occurs when a...
19,20. InvalidCookieDomainException:,20. InvalidCookieDomainException: This happens...
20,21. InvalidCoordinatesException:,21. InvalidCoordinatesException: This type of ...
21,22. InvalidElementStateException:,22. InvalidElementStateException: It occurs wh...
22,23. InvalidSessionIdException:,23. InvalidSessionIdException: This Exception ...
23,24. InvalidSwitchToTargetException:,24. InvalidSwitchToTargetException: This occur...
24,25. JavascriptException:,25. JavascriptException: This issue occurs whi...
25,26. JsonException:,26. JsonException: It occurs when you afford t...
26,27. NoSuchAttributeException:,27. NoSuchAttributeException: This kind of Exc...
27,28. MoveTargetOutOfBoundsException:,28. MoveTargetOutOfBoundsException: It takes p...
28,29. NoSuchContextException:,29. NoSuchContextException: ContextAware does ...
29,30. NoSuchCookieException:,30. NoSuchCookieException: This Exception occu...
30,31. NotFoundException:,31. NotFoundException: This Exception is a sub...
31,32. RemoteDriverServerException:,32. RemoteDriverServerException: This Selenium...
32,33. ScreenshotException:,33. ScreenshotException: It is not possible to...
33,34. SessionNotCreatedException:,34. SessionNotCreatedException: It happens whe...
34,35. UnableToSetCookieException:,35. UnableToSetCookieException: This occurs if...
35,36. UnexpectedTagNameException:,36. UnexpectedTagNameException: Happens if a s...
36,37. UnhandledAlertException:,37. UnhandledAlertException: This expectation ...
37,38. UnexpectedAlertPresentException:,38. UnexpectedAlertPresentException: It occurs...
38,39. UnknownMethodException:,39. UnknownMethodException: This Exception hap...
39,40. UnreachableBrowserException:,40. UnreachableBrowserException: This Exceptio...
40,41. UnsupportedCommandException:,41. UnsupportedCommandException: This occurs w...
41,Step 1) Try-catch,"Here, are some important standard using which ..."
42,Catch,Step 1) Try-catch
43,Step 2) Multiple catch blocks,"This method can catch Exceptions, which uses a..."
44,Step 3) Throw,Step 2) Multiple catch blocks
45,Step 4) Multiple Exceptions,"There are various types of Exceptions, and you..."
46,Step 5) Finally,Step 3) Throw

4.Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(19-20)

D) GSDP(18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [38]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [39]:
driver.get('http://statisticstimes.com/')

In [45]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
try:
    economy.click()
except ElementNotInteractableException:
    india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    india.click()

In [46]:
gdp=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()

In [47]:
Rank=[]
State=[]
GSDP19_20=[]
GSDP18_19=[]
Share18_19=[]
GDP=[]

In [48]:
rank=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)
    
#State name
state=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]")
for i in state:
    State.append(i.text)
    
#GSDP 19-20 data
for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
    GSDP19_20.append(i.text)
    
#GSDP 18-19 data
for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
    GSDP18_19.append(i.text)
    
#Share 18-19 data
for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
    Share18_19.append(i.text)
    
#GDP billions data
for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
    GDP.append(i.text)

In [49]:
GDP_data=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(19-20)':GSDP19_20,'GSDP(18-19)':GSDP18_19,'Share(18-19)':Share18_19,
                      'GDP($ billion)':GDP})
GDP_data

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

In [50]:
driver.close()

5.Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [59]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [60]:
driver.get('https://github.com/')

In [63]:
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

In [64]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending.click()

In [74]:
#Creating empty lists for storing the scrapped data
Repository_title=[]
Description=[]
Count=[]
Language=[]

#repository title
title=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in title:
    Repository_title.append(i.text)
    
#repository description
description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description:
    Description.append(i.text)
    
#contributors count
count=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in count:
    Count.append(i.text)
    
#language used 
lang=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in lang:
    if i.text is None:
        Language.append('Not Available')
    else:
        Language.append(i.text)

In [75]:
print(len(Repository_title),len(Description),len(Count),len(Language))

25 25 50 20

In [78]:
github=pd.DataFrame({})
github['Repository title']=Repository_title[:20]
github['Description']=Description[:20]
github['Contributors count']=Count[:20]
github['Language used']=Language[:20]
github

,Repository title,Description,Contributors count,Language used
0,danielgindi / Charts,Beautiful charts for iOS/tvOS/OSX! The Apple s...,"25,913",Swift
1,surrealdb / surrealdb,"A scalable, distributed, collaborative, docume...","5,490",Rust
2,TheAlgorithms / Python,All Algorithms implemented in Python,"6,252",Python
3,SerenityOS / ladybird,Ladybird web browser,135,C++
4,divamgupta / diffusionbee-stable-diffusion-ui,Diffusion Bee is the easiest way to run Stable...,"144,032",Jupyter Notebook
5,karpathy / nn-zero-to-hero,Neural Networks: Zero to Hero,"36,758",Jupyter Notebook
6,EbookFoundation / free-programming-books,📚 Freely available programming books,"1,029",Kotlin
7,twitter / compose-rules,Static checks to aid with a healthy adoption o...,62,TypeScript
8,n8n-io / n8n,Free and source-available fair-code licensed w...,"3,489",Go
9,InterviewReady / system-design-resources,These are the best resources for System Design...,68,Swift
10,moby / moby,Moby Project - a collaborative project for the...,"1,756",TypeScript
11,Alamofire / Alamofire,Elegant HTTP Networking in Swift,61,Go
12,AykutSarac / jsoncrack.com,🔮 Seamlessly visualize your JSON data instantl...,"248,721",JavaScript
13,pocketbase / pocketbase,Open Source realtime backend in 1 file,"50,690",C#
14,ascoders / weekly,前端精读周刊。帮你理解最前沿、实用的技术。,787,Rust
15,jellyfin / jellyfin,The Free Software Media System,17,PowerShell
16,apptension / developer-handbook,An opinionated guide on how to become a profes...,"25,260",TypeScript
17,vasanthk / how-web-works,What happens behind the scenes when we type ww...,"2,946",Shell
18,rust-lang / rust,Empowering everyone to build reliable and effi...,"7,993",C++
19,dotnet / core,Home repository for .NET Core,893,TypeScript

In [79]:
driver.close()

6.Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [123]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [124]:
driver.get('https://www.billboard.com/')

In [125]:
hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a')
hot_100.click()

In [142]:
#Creating empty lists for storing the scrapped data
Song=[]
Artist=[]
Lastweek=[]
Peak=[]
Weeks_on_board=[]

#song name
song=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in song:
    Song.append(i.text)
    
#artist name
artist=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist:
    Artist.append(i.text)
    
#last week rank
last_week=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in last_week:
    Lastweek.append(i.text)
        
#peak rank
peak=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
for i in peak:
    if i.text is None:
        Peak.append('-')
    else:
        Peak.append(i.text)
        
#weeks on board data
weeks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in weeks:
    if i.text is None:
        Weeks_on_board.append('-')
    else:
        Weeks_on_board.append(i.text)

In [143]:
print(len(Song),len(Artist),len(Lastweek),len(Peak),len(Weeks_on_board))

99 99 200 200 200

In [144]:
billboard=pd.DataFrame({})
billboard['Song']=Song[:80]
billboard['Artist']=Artist[:80]
billboard['Last week Rank']=Lastweek[:80]
billboard['Peak Rank']=Peak[:80]
billboard['Weeks on board']=Weeks_on_board[:80]
billboard

,Song,Artist,Last week Rank,Peak Rank,Weeks on board
0,Bad Habit,Steve Lacy,1,,1
1,Late Night Talking,Harry Styles,23,1,23
2,Sunroof,Nicky Youre & dazy,2,,2
3,About Damn Time,Lizzo,10,2,10
4,I Like You (A Happier Song),Post Malone Featuring Doja Cat,12,,12
...,...,...,...,...,...
75,Romantic Homicide,d4vd,18,34,18
76,2 Be Loved (Am I Ready),Lizzo,43,,43
77,Where It Ends,Bailey Zimmerman,10,39,10
78,Alone,Rod Wave,44,,44
79,Neverita,Bad Bunny,10,40,10

In [ ]:
driver.close()

7.Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [108]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [109]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [110]:
search_box= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search_box.send_keys('Data science')

In [112]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search.click()

In [113]:
#Creating empty lists for storing the scrapped data
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

#recruiter's name
name=driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
for i in name:
    Name.append(i.text)
    
#recruiter's designation
desc=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
for i in desc:
    Designation.append(i.text)
    
#company name
company=driver.find_elements(By.XPATH,"//p[@class='highlightable']/a[2]")
for i in company:
    Company.append(i.text)
    
#skillset details
skills=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
for i in skills:
    Skills.append(i.text)
    
#location details
location=driver.find_elements(By.XPATH,"//small[@class='ellipsis']")
for i in location:
    Location.append(i.text)

In [114]:
#Checking the length of the scrapped data
print(len(Name),len(Designation),len(Company),len(Skills),len(Location))

50 50 50 50 48

In [115]:
#Creating a dataframe for the scrapped data
naukri=pd.DataFrame({})
naukri['Name']=Name[:48]
naukri['Designation']=Designation[:48]
naukri['Company']=Company[:48]
naukri['Skills']=Skills[:48]
naukri['Location']=Location
naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad

In [116]:
driver.close()

8.Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [90]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [91]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [92]:
#Creating empty lists to store the scrapped data
Book=[]
Author=[]
Volume=[]
Publisher=[]
Genre=[]

#book name
book=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book:
    Book.append(i.text)
    
#author name
author=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author:
    Author.append(i.text)
    
#volumes sold details
volume=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volume:
    Volume.append(i.text)

#publisher details
publisher=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    Publisher.append(i.text)
    
#genre details 
genre=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    Genre.append(i.text)

In [93]:
#Creating a dataframe for the scrapped data
novels=pd.DataFrame({})
novels['Book']=Book
novels['Author']=Author
novels['Volumes sold']=Volume
novels['Publisher']=Publisher
novels['Genre']=Genre
novels

,Book,Author,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [94]:
driver.close()

9.Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [85]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [86]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [87]:
#Creating empty lists for storing the scrapped data
Name=[]
Year=[]
Genre=[]
Runtime=[]
Rating=[]
Vote=[]

#Scrapping the data having the series name
name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
#the year span details
year=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
for i in year:
    Year.append(i.text)
    
#genre details
genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
for i in genre:
    Genre.append(i.text)
    
#runtime details
runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
for i in runtime:
    Runtime.append(i.text)
    
#rating details
rating=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
for i in rating:
    Rating.append(i.text)
    
#Scrapping the data having the votes details
votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
for i in votes:
    Vote.append(i.text)

In [88]:
#Creating a dataframe for the scrapped data
IMDB=pd.DataFrame({'Name':Name,'Year span':Year,'Genre':Genre,'Runtime':Runtime,'Rating':Rating,'Votes':Vote})
IMDB

,Name,Year span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,049,177"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,145,158"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"968,228"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,811"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,383"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,554"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,556"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,772"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,021"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,410"

In [89]:
driver.close()

# 10.Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [79]:
driver= webdriver.Chrome(r"C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [80]:
driver.get('https://archive.ics.uci.edu/')

In [81]:
datasets=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
datasets.click()

In [82]:
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

#dataset name
try:
    names=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
#data type
try:
    types=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')
    
#default task
try:
    task=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
        
#attribute types
try:
    attribute=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append('-')
        
#no of instances
try:
    instance=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')
        
#no of attributes
try:
    attribute_no=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')
        
#year details
try:
    year=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [83]:
df=pd.DataFrame({"Name":Name,"Data types":Type,"Default Task":Task,"Attribute types":Attribute, 
                 "No of instances":No_of_Instance,"No of atrributes":No_of_Attribute,"Year":Year})
df

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [84]:
#Closing the driver
driver.close()